<div class="card">
  <h4 class="card-header">Sign up</h4>
  <div class="card-body">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false} } ) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group"> 
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control mb-2', placeholder:'email'  %>
  </div>

  <div class="field form-group"> 
    <%= f.password_field :password, autocomplete: "new-password", class:'form-control mb-2' , placeholder:'password (6 characters minimum)' %>
  </div>

  <div class="field form-group"> 
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:'form-control mb-2', placeholder:'password confirmation' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" , class:'btn btn-primary' %>
  </div>
<% end %>
  </div>
</div>
 <br/>


<%= render "devise/shared/links" %>
